body {
    background: linear-gradient(45deg, #ffffff, #e6e6e6);

    #logo {
        width: 50%;
        display: flex;
        margin: 0 auto;
        height: 150px;
        object-fit: cover;
    }
    #connexion {
        position: absolute;
        padding: 20px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 35%;
        height: 50%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-;
        border-radius: 54px;
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px #919191, 5px -5px 10px #ffffff;
        h1 {
            text-align: center;
            font-size: 50px;
        }
        p:nth-child(2) {
            text-align: center;
        }
        #test {
            color: black;
            text-decoration: none;

            &:hover {
                border: 1px solid #02aab0;
                padding: 2px;
                color: #02aab0;
            }
        }
        form {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            height: 50%;

            #Email {
                margin: 20px;
                font-size: 20px;
            }
            #fieldEmail {
                padding: 10px;

                font-size: 20px;
                border-radius: 50px;
                &:hover {
                    border-color: #00cdac;
                }
            }
            #Password {
                margin: 20px;
                font-size: 20px;
            }
            #fieldPassword {
                padding: 10px;
                font-size: 20px;
                border-radius: 50px;
                &:hover {
                    border-color: #00cdac;
                }
            }
            #button {
                background-image: linear-gradient(to right, #02aab0 0%, #00cdac 51%, #02aab0 100%);

                margin: 10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                display: block;

                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

                padding: 10px;
                border: none;
                font-size: 20px;
                width: 50%;
                margin: 0 auto;
                border-radius: 50px;
            }
        }
    }
    #inscription {
        position: absolute;
        padding: 20px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 35%;
        height: 50%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-;
        border-radius: 54px;
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px #919191, 5px -5px 10px #ffffff;
        h1 {
            text-align: center;
            font-size: 50px;
        }
        p:nth-child(2) {
            text-align: center;
        }
        #test {
            color: black;
            text-decoration: none;

            &:hover {
                border: 1px solid #02aab0;
                padding: 2px;
                color: #02aab0;
            }
        }
        form {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            height: 50%;

            #Email {
                margin: 20px;
                font-size: 20px;
            }
            #fieldEmail {
                padding: 10px;

                font-size: 20px;
                border-radius: 50px;
                &:hover {
                    border-color: #00cdac;
                }
            }
            #Password {
                margin: 20px;
                font-size: 20px;
            }
            #fieldPassword {
                padding: 10px;
                font-size: 20px;
                border-radius: 50px;
                &:hover {
                    border-color: #00cdac;
                }
            }
            #button {
                background-image: linear-gradient(to right, #02aab0 0%, #00cdac 51%, #02aab0 100%);

                margin: 10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                display: block;

                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

                padding: 10px;
                border: none;
                font-size: 20px;
                width: 50%;
                margin: 0 auto;
                border-radius: 50px;
            }
        }
    }
}
